<div class="h-100 w-100 row m-0">
  <div class="h-100 col-md-6 image">
    <div class="d-flex flex-column justify-content-between h-100 p-5">
      <div>
        <h1 class="w-100 feature white">Caleb Froese</h1>
      </div>
      <div class="d-flex flex-column">
        <img class="icon my-2" src="/assets/github.svg" />
        <img class="icon my-2" src="/assets/linkedin.svg" />
        <img class="icon my-2" src="/assets/twitter.svg" />
        <img class="icon my-2" src="/assets/facebook.svg" />
      </div>
    </div>
  </div>

  <div class="h-100 col-md-6 p-5 m-0">
    <div class="d-flex flex-column justify-content-between h-100">
      <div></div>
      <div class="px-5 row">
        <h1 class="w-100">about</h1>
        <p>caleb froese is a full stack web developer. he resides in adelaide and is currently working as a junior developer
          at nextfaze. his passions include coffee, cooking, painting, learning, and problem solving.
        </p>
      </div>
      <div></div>
    </div>
  </div>
</div>
