:host {
  position: relative;
  height: 100%;
  .image {
    $dim: 0.4;
    background-image: linear-gradient( rgba(0, 0, 0, $dim), rgba(0, 0, 0, $dim)), url('/assets/profile.jpg');
    background-position: center;
    background-size: cover;
    // Add a shadow and prioritize its z index above the later content
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);
    z-index: 1;
  }
  .feature {
    font-family: 'Lobster';
  }
  .white {
    color: white;
  }
  p {
    text-align: justify;
  }
  .social {
    a {
      width: 20px;
      img {
        width: 20px;
      }
    }
  }
  /* Particle JS */
  #particles {
    background: #ffffff;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
