<div class="h-100 w-100 row m-0">
  <div class="h-100 col-md-6 image">
    <div class="d-flex flex-column justify-content-between h-100 p-5">
      <div>
        <h1 class="w-100 feature white">Caleb Froese</h1>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column social">
          <a href="https://github.com/calebfroese" target="_blank">
            <img class="icon my-2" src="/assets/github.svg" />
          </a>
          <a href="https://linkedin.com/in/calebfroese" target="_blank">
            <img class="icon my-2" src="/assets/linkedin.svg" />
          </a>
          <a href="https://twitter.com/froesecaleb" target="_blank">
            <img class="icon my-2" src="/assets/twitter.svg" />
          </a>
        </div>
        <div class="align-self-end d-md-none">
          <!-- Credit: https://codepen.io/rightblog/pen/EagNMN/ -->
          <div class="mouse_scroll">
            <div>
              <span class="m_scroll_arrows unu"></span>
              <span class="m_scroll_arrows doi"></span>
              <span class="m_scroll_arrows trei"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="h-100 col-md-6 p-5 m-0 position-relative">
    <div class="position-absolute" id="particles"></div>
    <div class="d-flex flex-column justify-content-between h-100">
      <div></div>
      <div class="px-0 row">
        <div class="col-0 col-lg-2 col-xl-3"></div>
        <div class="col-12 col-lg-8 col-xl-6">
          <h1 class="w-100">About</h1>
          <p>
            Caleb Froese creates cool things for a living. Currently in
            Adelaide, he is working as a senior full stack developer at
            <a href="http://deckhandapp.com" target="_blank">Real Time Data</a>.
            He is passionate about problem solving, ice hockey and painting,
            roughly in that order.
          </p>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
