:host() {
  height: 100%;
  .image {
    background-image: url('/assets/background.jpg');
    background-position: center;
    background-size: cover;
  }
  .hamburger {
    max-width: 8vw;
    div {
      border: 2px solid black;
      &:nth-child(1) {
        width: 50%;
      }
      &:nth-child(3) {
        width: 75%;
      }
    }
  }
}
