:host() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
  }
  .caleb-froese-focus {
    transform: translateY(100%);
    margin-left: 10%;
    span {
      display: block;
      font-size: 10rem;
    }
  }
}
