<div class="h-100 w-100 row m-0">
  <div class="h-100 col-md-6 image"></div>
  <div class="h-100 col-md-6 p-0 m-0">
    <div class="d-flex flex-column justify-content-between h-100 p-5">
      <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
          <div class="hamburger mx-auto">
            <div class="mx-auto mt-2"></div>
            <div class="mx-auto mt-2"></div>
            <div class="mx-auto mt-2"></div>
          </div>
        </div>
      </div>
      <div class="px-5 row">
        <h1>Title content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, s ed do eiusmod tempor incididunt ut labore et dolore mag
          na aliqua. Ut enim t minim veniam, quis nostrud exercit ation ullamco laboris nisi ut aliquip ex ea commodo cons
          equat. Duis aute iru re dolor in reprehenderit in voluptate velit esse cillum dol ore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupi datat non proident, sunt in culpa qui officia deserunt mol lit anim id est laborum</p>
      </div>
      <div class="px-5 mx-auto d-flex justify-content-between w-100">
        <span>about</span>
        <span>stuff</span>
        <span>things</span>
        <span>contact</span>
      </div>
    </div>
  </div>
</div>
